/* Center workflowr buttons */
.btn-workflowr {
  display: block;
  margin: auto;
}



/* Add blue border around workflowr past figure version buttons */
.btn-workflowr-fig {
  border: blue 5px solid;
}


/* Add purple border around workflowr session information button */
.btn-workflowr-sessioninfo {
  border: purple 5px solid;
}


body {
  line-height: 2.5;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;


}


